@import "abstracts/_variables";
@import "abstracts/_mixins";


*{
  margin: 0;
  border: 1px solid red;
}

body{
  font-size: 16px;
  font-family: Michroma;
  background-color: $background;
}

/* SPLASH PAGE */
/* #landing{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash{
  height: 50vw;
  width: auto;
} */


/* HOME PAGE */
a{
  text-decoration: none;
}

h1{
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: $reg-green;
  margin: 0px;
}

.container{
  width: 100vw;
  height: 100%;
}

/* UPPER  */
.upper{
  display: flex;
  height: 50vh;
  width: 100%;
  float: right;
}

.triangles{
  width: 100%;
  // height: 50vh;
  display: flex;
}

p{
  font-size: 1.6em;
  letter-spacing: .2em;
  color: $light-tan;
}

#title{
  @include triangles;
  left: 12%;
  border-right: 400px solid transparent;
  border-left: 400px solid transparent;
  border-bottom: 625px solid $dark-purple;
  .title-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    position: relative;
    width: 400px;
    height: auto;
    top: 160px;
    right: 200px;
    img{
      width: 60%;
      height: auto;
      margin: auto;
    }
  }
}

#welcome{
  @include triangles;
  left: 30%;
  border-right: 400px solid transparent;
  border-left: 400px solid transparent;
  border-bottom: 550px solid $mid-purple;
  p{
    position: relative;
    text-align: center;
    top: 250px;
    right: 200px;
    width: 400px;
    height: 200px;
    margin: 0px;
  }
}

#entrance{
  display: flex;
  img{
    align-self: flex-end;
    left: -5%;
    width: 50%;
    max-width: 950px;
    max-height: 480px;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

// .triangle-up {
//   border: 1px solid green;
//   height: 0;
//   padding-left:70%;
//   padding-bottom:50%;
//   padding-top: 10%;
//   overflow: hidden;
//   p{
//     position: absolute;
//     text-align: center;
//     font-size: 1.5vw;
//     width: 25%;
//     top: 28%;
//     right: 16.5%;
//   }
// }
// .triangle-up:after {
//     content: "";
//     display: block;
//     width: 0;
//     height: 0;
//     margin-left:-400px;
//     border-left: 400px solid transparent;
//     border-right: 400px solid transparent;
//     border-bottom: 500px solid #4679BD;
// }


/* DESKTOP MENU */
.menu{
  width: 20%;
  height: 100%;
  h2{
    color: $reg-green;
    text-align: center;
    font-size: 1vw;
  }
  a h2:hover{
    color: $dark-green;
  }
}
.logo-image{
  border: 2px solid green;
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
  img{
    height: 100%;
  }
}



/* LOWER */
#spaces{
  width: 0;
  height: 0;
  bottom: 0;
  right: 13%;
  align-self: flex-end;
  position: absolute;
  border-right: 375px solid transparent;
  border-left: 375px solid transparent;
  border-bottom: 575px solid $dark-purple;
}
.spaces-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  position: relative;
  width: 400px;
  height: auto;
  top: 90px;
  right: 200px;
  h2{
    width: 100%;
    text-align: center;
    font-family: Michroma;
    font-size: 1.8em;
    color: $reg-green;
    margin: 0px;
  }
  img{
    width: 35%;
    height: auto;
    margin: auto;
  }
}

#private{
  right: 23%;
  border-right: 240px solid transparent;
  border-left: 240px solid transparent;
  border-bottom: 350px solid $light-purple;
  @include spaces;
}

#office{
  right: 45%;
  border-right: 220px solid transparent;
  border-left: 220px solid transparent;
  border-bottom: 400px solid $reg-purple;
  @include spaces;
}

#open{
  right: -5%;
  border-right: 250px solid transparent;
  border-left: 250px solid transparent;
  border-bottom: 400px solid $reg-purple;
  @include spaces;
}

#meeting{
  right: 10%;
  border-right: 250px solid transparent;
  border-left: 250px solid transparent;
  border-bottom: 510px solid $mid-purple;
  @include spaces;
}

#reserved{
  right: 33%;
  border-right: 250px solid transparent;
  border-left: 250px solid transparent;
  border-bottom: 495px solid $plum-purple;
  @include spaces;
}
