@import "abstracts/_variables";
@import "abstracts/_mixins";


*{
  margin: 0;
  // border: 1px solid red;
}

body{
  font-size: 16px;
  font-family: Michroma;
  background-color: $background;
}

/* SPLASH PAGE */
/* #landing{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash{
  height: 50vw;
  width: auto;
} */


/* HOME PAGE */
a{
  text-decoration: none;
}

h1, h2{
  width: 100%;
  text-align: center;
  color: $reg-green;
  margin: 0px;
}

.container{
  width: 100vw;
  height: 100%;
}

p{
  font-size: 1.6em;
  letter-spacing: .2em;
  color: $light-tan;
}



/* DESKTOP MENU */
.menu{
  width: 20%;
  height: 100%;
  h2{
    color: $reg-green;
    text-align: center;
    font-size: 1.3vw;
  }
  a h2:hover{
    color: $dark-green;
  }
}
.logo-image{
  height: 30%;
  width: 100%;
  display: flex;
  img{
    margin: auto;
    height: 100%;
    max-height: 150px;
    max-width: 150px;
  }
}



/* UPPER  */
.upper{
  display: flex;
  height: 50vh;
  width: 100%;
}

.triangles{
  width: 80%;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5vw;
}

#title{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 40vw;
  height: 45%;
  left: 18%;
  background-color: $dark-purple;
  @include triangles;
  .title-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    h1{
      font-size: 2vw;
      width: 100%;
      margin-top: -75%;
    }
    img{
      width: 100%;
      max-height: 50px;
      max-width: 150px;
    }
  }
}

#welcome{
  display: flex;
  width: 60%;
  height: 80%;
  justify-content: center;
  background-color: $mid-purple;
  @include triangles;
  p{
    text-align: center;
    align-self: flex-end;
    font-size: 1.1vw;
    width: 40%;
    height: 50%;
  }
}

#entrance{
  position: absolute;
  left: -5%;
  width: 50%;
  img{
    align-self: flex-end;
    justify-content: flex-start;
    width: 100%;
    max-width: 950px;
    max-height: 550px;
    @include triangles;
  }
}



/* LOWER */
.lower{
  height: 50vh;
  width: 100%;
  bottom: 0;
}

#spaces{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 40vw;
  height: 43%;
  left: 38%;
  bottom: 0;
  background-color: $dark-purple;
  @include triangles;
  .spaces-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    h2{
      font-size: 1.5vw;
      width: 100%;
      margin-top: -75%;
    }
    img{
      width: 100%;
      max-height: 50px;
      max-width: 125px;
    }
  }
}

#private{
  border: 1px solid red;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30vw;
  height: 27%;
  left: 40%;
  bottom: 0;
  background-color: $light-purple;
  @include triangles;
}

#office{
  border: 1px solid red;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30vw;
  height: 30%;
  left: 20%;
  bottom: 0;
  background-color: $reg-purple;
  @include triangles;
}

#open{
  border: 1px solid red;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30vw;
  height: 30%;
  left: 60%;
  bottom: 0;
  background-color: $reg-purple;
  @include triangles;
}

#meeting{
  border: 1px solid red;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30vw;
  height: 36%;
  left: 50%;
  bottom: 0;
  background-color: $mid-purple;
  @include triangles;
}

#reserved{
  border: 1px solid red;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30vw;
  height: 38%;
  left: 32%;
  bottom: 0;
  background-color: $plum-purple;
  @include triangles;
}
