/* PURPLE */
  $light-purple: rgb(163,147,183);
  $reg-purple: rgb(100,83,125);
  $mid-purple: rgb(88,60,124);
  $plum-purple: rgb(44,23,71);
  $dark-purple: rgb(32,13,57);

/* GREEN */
  $light-green: rgb(129,193,137);
  $reg-green: rgb(89,125,93);
  $mid-green: rgb(22,81,29);
  $dark-green: rgb(9,47,14);

/* TAN */
  $light-tan: rgb(228,222,201);
  $reg-tan: rgb(105,87,28);
  $mid-tan: rgb(183,159,80);
  $main-tan: rgb(161,150,114);
  $dark-tan: rgb(61,49,112);
